.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    /* Space between sections */
    padding-bottom: 8rem;
}

@media (max-width: 768px) {
    .container {
        gap: 4rem;
        padding-bottom: 0;
    }
}